<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome! - AndreWiggins.com</title>
    <meta name="description" content="Home page for the personal website of Andre Wiggins" />
    <meta name="author" content="Andre Wiggins" />

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>

<div class="container">
    <h1>Chat Room</h1>
    <form role="form">
        <div class="form-group">
            <label for="room">Room</label>
            <input class="form-control" type="text" name="room" id="room" placeholder="Enter room to join" />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Enter room to join" />
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>
</div>


<script src="/js/lib/jquery-2.1.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

</body>
</html>

