@import (reference, less) "lib/bootstrap.min.css";

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

@max-width: 480px;
@well-bg: #f5f5f5;
@border-color: #ddd;
@desktop-header-height: 80px;

.container {
  max-width: @max-width;
}

/* Panel styling inspired by bootstrap */

#chat {
  padding-left: 0px;
  padding-right: 0px;
  /*
  border: 1px solid @border-color;
  */
  /*
  border-radius: 3px;
  */

  header {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: @max-width;
    border: 1px solid @border-color;
    color: #333;
    background-color: @well-bg;
    /*
    border-bottom: 1px solid @border-color;
    */
    /*
    margin-top: 20px;
    */
  }

  #chat-viewport {
    display: none;
  }

  .content {
    margin-top: @desktop-header-height;
    margin-bottom: 55px;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
  }

  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: @max-width;
    border: 1px solid @border-color;
    background-color: @well-bg;
    /*
    margin-bottom: 20px;
    */

    .username:after {
      content: ":";
    }
  }

  ul.messages {
    list-style: none;

    li {
      margin-top: 15px;
      border-top: 1px solid #ddd;
      padding-top: 15px;

      .username {
        float: left;
      }

      .timestamp {
        float: right;
      }

      .message {
        display: block;
        clear: both;
      }

      &.collapse,
      &:first-child {
        display: block; /* override bootstrap collapse class */
        padding-top: 0px;
        margin-top: 0px;
        border-top: none;
      }

      &.collapse {
        .username,
        .timestamp {
          display: none;
        }
      }

      &:last-child {
        padding-bottom: 0px;
      }

      &.control {
        .username,
        .timestamp {
          display: none;
        }
        
        .message {
          text-align: center;
          font-style: italic;
          .small();
          .text-muted();
        }
      }
    }
  }
}

#chat.well-alt {
  header {
    background-color: white;
    border: none;
  }

  #chat-viewport {
    display: block;
    position: fixed;
    top: @desktop-header-height;
    width: 100%;
    max-width: 480px;
    pointer-events: none; /* doesn't work in IE */

    /* well effect */
    border: 1px solid #e3e3e3;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  }

  .content {
    padding: 15px;
    background-color: #f5f5f5;
    border: none;
  }

  footer {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;

    input {
      padding: 6px 15px;
    }
  }
}

@mobile-header-height: 46px;

@media (max-height: 500px) {
  #chat {
    header h1 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .content {
      margin-top: @mobile-header-height;
    }
  }

  #chat.well-alt {
    #chat-viewport {
      top: @mobile-header-height;
    }

  }
}
